@inherits Sandbox.UI.Panel
@namespace Seekers

<root class="@( Entry.Styles )">
	@if ( Entry.SteamId != 0 )
	{
		<img class="avatar" src="@( $"avatar:{Entry.SteamId}" )"/>
	}
	@if ( Entry.MessageType != ChatBox.MessageType.None )
	{
		<div class="message-type">@Entry.MessageType -</div>
	}
	<p class="name" style="color: @Entry.TeamColour.Hex;">@Entry.Name</p>
	@if ( !Entry.Styles.Contains( "notification" ) )
	{
		<div class="breaker">:</div>
	}
	<div class="message-content">
		@Entry.Message
	</div>
</root>

@code
{
	public ChatBox.Entry Entry { get; set; }

	public override void Tick()
	{
		base.Tick();

		Style.FontSize = 16;

		if ( Entry.TimeSinceBorn > 10 && !HasClass( "fade" ) )
		{
			AddClass( "fade" );
		}
	}

	protected override int BuildHash()
	{
		return HashCode.Combine( 16 );
	}

}
