@using Sandbox.Services
@using BoltFPS

@inherits Sandbox.UI.Panel
@namespace Seekers

<root class="entry @( Entry.Styles )">
	
	@if ( Entry.SteamId != 0 )
	{
		<img class="avatar" src="@( $"avatar:{Entry.SteamId}" )"/>
	}

	@if ( !Entry.Styles.Contains( "notification" ) )
	{
		if ( BaseGameManager.Devs.Contains( Entry.SteamId ) )
		{
			<div class="breaker rainbow">[DEV]</div>
			<div class="breaker">@Entry.Name:</div>
		}
		else
		{
			<div class="breaker">@Entry.Name:</div>
		}
	}

	<div class="message-content">
		@Entry.Message
	</div>

</root>

@code
{
	BaseGameManager GameManager => BaseGameManager.Instance;
	public ChatBox.Entry Entry { get; set; }

	public override void Tick()
	{
		base.Tick();

		Style.FontSize = 16;

		if ( Entry.TimeSinceBorn > 10 && !HasClass( "fade" ) )
		{
			AddClass( "fade" );
		}
	}

	protected override int BuildHash()
	{
		return HashCode.Combine( 16 );
	}

}
